<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Movie List</title>
</head>

<body>

<div class="container">
    <h3>Movie List</h3>
    <hr>
    <br>

    <!-- Search form -->
    <form th:action="@{/admin/movie/list}" method = "get">
        <label for="txtSearch">
            <input id="txtSearch" type="text" name="keyword">
        </label>
        <button type="submit">Find movie</button>
    </form>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Movie Name</th>
                <th>Start Time</th>
                <th>Available Seats</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            <tr th:each="tempMovie : ${movies}">
                <td th:text="${tempMovie.movieName}"></td>
                <td th:text="${tempMovie.movieStartTime}"></td>
                <td th:text="${tempMovie.movieAvailableSeat}"></td>

            <!-- update functions -->
                <td>
                    <a th:href = "@{/admin/movie/showFormForUpdate(movieId = ${tempMovie.id})}"
                       class = "btn btn-warning">
                        Update
                    </a>
                    <a class="btn btn-danger"
                       onclick="if (!(confirm('Are you sure want to delete this movie ???'))) return false"
                       th:href="@{/admin/movie/delete(movieId = ${tempMovie.id})}">
                        Delete
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Add a button -->
    <a th:href="@{/admin/movie/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Employee
    </a>
</div>

</body>
</html>