<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/style.css}">
    <title>Movie List</title>
</head>

<body>
    <h3>Movie List</h3>
    <hr>
    <br>
    <!-- Search form -->
    <form th:action="@{/admin/movie/list}" method = "get">
        <label for="txtSearch">
            <input id="txtSearch" type="text" name="keyword">
        </label>
        <button type="submit">Find employee</button>
    </form>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Movie Name</th>
                <th>Start Time</th>
                <th>Available Seats</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="tempMovie : ${movies}">
                <td th:text="${tempMovie.movie_name}"></td>
                <td th:text="${tempMovie.movie_start_time}"></td>
                <td th:text="${tempMovie.movie_available_seat}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>