<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css">
    <title>Movie</title>
</head>

<body>

    <div class="container" style="margin-top:30px">
        <!-- Navbar and main content -->
        <nav class="navbar navbar-expand-sm justify-content-between" style="background-color: black;">
            <a class="navbar-brand" th:href="@{/home/login}">
                <img th:src="@{/logo}" alt="logo"
                     style="width:60px;">
            </a>
            <!-- Movie -->
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" th:href="@{/movie/login}">Movies</a>
                </li>
            </ul>
            <!-- Theaters -->
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" th:href="@{/theater/login}">Theaters</a>
                </li>
            </ul>

            <!-- User Account -->
            <ul class="nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbardrop"
                        data-toggle="dropdown">
                        Your Account
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/profile/login}">Profile</a>
                        <a class="dropdown-item" href="#">History</a>
                        <a class="dropdown-item" href="#">Setting</a>
                        <a class="dropdown-item" th:href="@{/home}">Log-out</a>
                    </div>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="#">Cultureplex</a>
                </li>
            </ul>

            <div class="md-form form-sm my-0">
                <form class="form-inline my-1">
                    <input class="form-control form-control-sm mr-sm-2 mb-0" type="text" placeholder="Search">
                    <button class="btn btn-success btn-sm my-0" type="submit">Search</button>
                </form>
            </div>

            <button class="btn btn-danger btn-sm my-0" type="submit" data-toggle="modal"
                data-target="#Ticket">Tickets</button>
            <!-- The Modal -->
            <div class="modal fade" id="Ticket">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Membership Require</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            You have to be a member of CINEMA in order to use this function
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

        </nav>
        <!-- Navbar Ends -->
        <br>

        <!-- Table container -->
        <div class="container">

            <!-- Dates -->
            <table class="table">
                <tr>
                    <td> <a href="#" class="btn"> 9 </a> </td>
                    <td> <a href="#" class="btn"> 10 </a> </td>
                    <td> <a href="#" class="btn"> 11 </a> </td>
                    <td> <a href="#" class="btn"> 12 </a> </td>
                    <td> <a href="#" class="btn"> 13 </a> </td>
                    <td> <a href="#" class="btn"> 14 </a> </td>
                    <td> <a href="#" class="btn"> 15 </a> </td>
                </tr>
            </table>

            <!-- Movie time -->
            <table class="table">

                <!-- Movie 1 -->
                <tr>
                    <td>
                        <button type="button" data-toggle="modal" data-target="#movie1">
                            <div class="card" style="width:200px">
                                <img class="card-img-top"
                                    src="https://www.cgv.vn/media/catalog/product/cache/3/image/c5f0a1eff4c394a251036189ccddaacd/z/_/z_main-poster_bcvh.jpg"
                                    alt="Card image">
                            </div>
                        </button>
                    </td>
                    <td>
                        <table class="table">
                            <tr>
                                <h4>INVISIBILITY EVIDENCE</h4>
                            </tr>
                            <tr>
                                <div class="card-body">
                                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#movie11320">13:20PM<br>84/100</button>
                                    <button type="button" class="btn btn-outline-primary" disabled>15:25PM<br>0/100</button>
                                    <button type="button" class="btn btn-outline-primary" disabled>17:30PM<br>0/100</button>
                                </div>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- Movie 2 -->
                <tr>
                    <td>
                        <button type="button" data-toggle="modal" data-target="#movie2">
                            <div class="card" style="width:200px">
                                <img class="card-img-top"
                                    src="https://www.cgv.vn/media/catalog/product/cache/3/image/c5f0a1eff4c394a251036189ccddaacd/r/s/rsz_phim-scoob-2020_2.jpg"
                                    alt="Card image">
                            </div>
                        </button>
                    </td>
                    <td>
                        <table class="table">
                            <tr>
                                <h4>SCOOBY-DOO'S ADVENTURE</h4>
                            </tr>
                            <tr>
                                <div class="card-body">
                                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#movie21300">13:00PM<br>30/100</button>
                                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#movie21410">14:10PM<br>10/100</button>
                                    <button type="button" class="btn btn-outline-primary" disabled>19:10PM<br>0/100</button>
                                </div>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- Movie 3 -->
                <tr>
                    <td>
                        <button type="button" data-toggle="modal" data-target="#movie3">
                            <div class="card" style="width:200px">
                                <img class="card-img-top"
                                    src="https://www.cgv.vn/media/catalog/product/cache/3/image/c5f0a1eff4c394a251036189ccddaacd/r/s/rsz_pee_nak2_main_poster_2.jpg"
                                    alt="Card image">
                            </div>
                        </button>
                    </td>
                    <td>
                        <table class="table">
                            <tr>
                                <h4>THE FROZEN FAMILY 2</h4>
                            </tr>
                            <tr>
                                <div class="card-body">
                                    <button type="button" class="btn btn-outline-primary" disabled>13:10PM<br>0/100</button>
                                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#movie31530">15:30PM<br>84/100</button>
                                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#movie31700">17:00PM<br>18/100</button>
                                </div>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
            <!-- Movie time ends -->
        </div>
        <!-- Table container ends -->

        <!-- Table Modals for movie 1 -->
        <div class="modal fade" id="movie1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h3 class="modal-title">Movie Details</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <table class="table">
                            <tr th:each="tempMovie : ${movies}">
                                <td>
                                    <div class="card" style="width:300px;">
                                        <img class="card-img-top"
                                            src="https://www.cgv.vn/media/catalog/product/cache/3/image/c5f0a1eff4c394a251036189ccddaacd/z/_/z_main-poster_bcvh.jpg"
                                            alt="Card image">
                                    </div>
                                </td>
                                <td>
                                    <table class="table">
                                        <tr>
                                            <h4 th:text="${tempMovie.movieName}"/>
                                        </tr>
                                        <tr>
                                            <td><b>Directors</b></td>
                                            <td th:text="${tempMovie.directors}"/>
                                        </tr>
                                        <tr>
                                            <td><b>Cast</b></td>
                                            <td th:text="${tempMovie.cast}"/>
                                        </tr>
                                        <tr>
                                            <td><b>Category</b></td>
                                            <td th:text="${tempMovie.category}"/>
                                        </tr>
                                        <tr>
                                            <td><b>Premiere</b></td>
                                            <td th:text="${tempMovie.premiere}"/>
                                        </tr>
                                        <tr>
                                            <td><b>Time</b></td>
                                            <td th:text="${tempMovie.duration}"/>
                                        </tr>
                                        <tr>
                                            <td><b>Language</b></td>
                                            <td th:text="${tempMovie.language}"/>
                                        </tr>
                                        <tr>
                                            <td><b>Rated</b></td>
                                            <td th:text="${tempMovie.rated}"/>
                                        </tr>
                                        <tr>
                                            <td><b>Description</b></td>
                                            <td th:text="${tempMovie.description}"/>

                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
<!--                        <p th:text="${tempMovie.description}"></p>-->

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
                    </div>

                </div>
            </div>
        </div>
        <!-- Table Modals for movie 1 end -->

        <!-- Table Modals for movie 2 -->
        <div class="modal fade" id="movie2">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h3 class="modal-title">Movie Details</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <td>
                                    <div class="card" style="width:300px">
                                        <img class="card-img-top"
                                            src="https://www.cgv.vn/media/catalog/product/cache/3/image/c5f0a1eff4c394a251036189ccddaacd/r/s/rsz_phim-scoob-2020_2.jpg"
                                            alt="Card image">
                                    </div>
                                </td>
                                <td>
                                    <table class="table">
                                        <tr>
                                            <h4>SCOOBY-DOO'S ADVENTURE</h4>
                                        </tr>
                                        <tr>
                                            <td><b>Directors</b></td>
                                            <td>Tony Cervone</td>
                                        </tr>
                                        <tr>
                                            <td><b>Cast</b></td>
                                            <td>Will Forte, Frank Welker, Amanda Seyfried, Mark Wahlberg, Jason Isaacs
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Category</b></td>
                                            <td>Comedy, Animation, Adventure</td>
                                        </tr>
                                        <tr>
                                            <td><b>Premiere</b></td>
                                            <td>07/10/2020</td>
                                        </tr>
                                        <tr>
                                            <td><b>Time</b></td>
                                            <td>93 minutes</td>
                                        </tr>
                                        <tr>
                                            <td><b>Language</b></td>
                                            <td>English - Vietnamese subtitles; Voiceover</td>
                                        </tr>
                                        <tr>
                                            <td><b>Rated</b></td>
                                            <td>P - MOVIES FOR ALL AUDIENCES</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <p>The first big-screen animated film about the cult Scooby-Doo will reveal the birth of the
                            famous detective team of 5 members including Scooby, Shaggy, Fred, Daphne and Velma; At the
                            same time, follow the greatest adventure and challenge ever faced by the whole team - racing
                            against time, preventing the conspiracy to free the ghost dog Cerberus to rule the world.
                        </p>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
                    </div>

                </div>
            </div>
        </div>
        <!-- Table Modals for movie 2 end -->

        <!-- Table Modals for movie 3 -->
        <div class="modal fade" id="movie3">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h3 class="modal-title">Movie Details</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <td>
                                    <div class="card" style="width:300px ">
                                        <img class="card-img-top"
                                            src="https://www.cgv.vn/media/catalog/product/cache/3/image/c5f0a1eff4c394a251036189ccddaacd/r/s/rsz_pee_nak2_main_poster_2.jpg"
                                            alt="Card image">
                                    </div>
                                </td>
                                <td>
                                    <table class="table">
                                        <tr>
                                            <h4>THE FROZEN FAMILY 2</h4>
                                        </tr>
                                        <tr>
                                            <td><b>Directors</b></td>
                                            <td>Phontharis Chotkijsadarsopon</td>
                                        </tr>
                                        <tr>
                                            <td><b>Cast</b></td>
                                            <td>Phiravich Attachitsataporn, Timethai Plangsilp, Paisarnkulwong
                                                Vachiravit</td>
                                        </tr>
                                        <tr>
                                            <td><b>Category</b></td>
                                            <td>Comedy, Horror</td>
                                        </tr>
                                        <tr>
                                            <td><b>Premiere</b></td>
                                            <td>07/03/2020</td>
                                        </tr>
                                        <tr>
                                            <td><b>Time</b></td>
                                            <td>115 minutes</td>
                                        </tr>
                                        <tr>
                                            <td><b>Language</b></td>
                                            <td>Vietnamese subtitles</td>
                                        </tr>
                                        <tr>
                                            <td><b>Rated</b></td>
                                            <td>C16 - THE FILM PROHIBITS AUDIENCES UNDER 16</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <p>The duo of karma have returned to the path of creating a career but unfortunately the
                            retribution comes early, the couple almost dies because of a mysterious curse. They had to
                            return to the temple to find Nhong to help solve the curse. Whether they will find a way to
                            break the curse or make things worse.
                        </p>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Table Modals for movie 3 end -->
    </div>

    <!-- Number of customers confrimation modals start-->
    <!-- Movie 1 at 13:20PM -->
    <div class="modal fade" id="movie11320">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h3 class="modal-title">Movie Confirmation</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <td><b>Movie Name</b></td>
                                <td>INVISIBILITY EVIDENCE</td>
                            </tr>
                            <tr>
                                <td><b>Selected Time</b></td>
                                <td>August 9th 13:20PM</td>
                            </tr>
                            <tr>
                                <td><b>Nubmer of Customer</b></td>
                                <td>
                                    <form class="form-inline">
                                        <input class="form-control" type="number" min="1" max="10" value="1">
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button th:onclick="'window.location.href = \'' + @{/payment} + '\''" data-dismiss="modal" type="button" class="btn btn-primary"><b>Pay Now</b></button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
                    </div>
                </div>
            </div>
        </div>
         <!-- Movie 1 at 13:20PM ends -->

         <!-- Movie 2 at 13:00PM -->
    <div class="modal fade" id="movie21300">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h3 class="modal-title">Movie Confirmation</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <td><b>Movie Name</b></td>
                                <td>SCOOBY-DOO'S ADVENTURE</td>
                            </tr>
                            <tr>
                                <td><b>Selected Time</b></td>
                                <td>August 9th 13:00PM</td>
                            </tr>
                            <tr>
                                <td><b>Nubmer of Customer</b></td>
                                <td>
                                    <form class="form-inline">
                                        <input class="form-control" type="number" min="1" max="10" value="1">
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><b>Pay Now</b></button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
                    </div>
                </div>
            </div>
        </div>
         <!-- Movie 2 at 13:00PM ends -->

        <!-- Movie 2 at 14:10PM -->
        <div class="modal fade" id="movie21410">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h3 class="modal-title">Movie Confirmation</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <td><b>Movie Name</b></td>
                                <td>SCOOBY-DOO'S ADVENTURE</td>
                            </tr>
                            <tr>
                                <td><b>Selected Time</b></td>
                                <td>August 9th 14:10PM</td>
                            </tr>
                            <tr>
                                <td><b>Nubmer of Customer</b></td>
                                <td>
                                    <form class="form-inline">
                                        <input class="form-control" type="number" min="1" max="10" value="1">
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><b>Pay Now</b></button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Movie 2 at 14:10PM ends -->

        <!-- Movie 3 at 15:30PM -->
                <div class="modal fade" id="movie31530">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h3 class="modal-title">Movie Confirmation</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <td><b>Movie Name</b></td>
                                <td>THE FROZEN FAMILY 2</td>
                            </tr>
                            <tr>
                                <td><b>Selected Time</b></td>
                                <td>August 9th 15:30PM</td>
                            </tr>
                            <tr>
                                <td><b>Nubmer of Customer</b></td>
                                <td>
                                    <form class="form-inline">
                                        <input class="form-control" type="number" min="1" max="10" value="1">
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><b>Pay Now</b></button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Movie 3 at 15:30PM ends -->

        <!-- Movie 3 at 17:00PM -->
                        <div class="modal fade" id="movie31700">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h3 class="modal-title">Movie Confirmation</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <td><b>Movie Name</b></td>
                                <td>THE FROZEN FAMILY 2</td>
                            </tr>
                            <tr>
                                <td><b>Selected Time</b></td>
                                <td>August 9th 17:00PM</td>
                            </tr>
                            <tr>
                                <td><b>Nubmer of Customer</b></td>
                                <td>
                                    <form class="form-inline">
                                        <input class="form-control" type="number" min="1" max="10" value="1">
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><b>Pay Now</b></button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Movie 3 at 17:00PM ends -->
        <!-- Number of customers confrimation modals ends -->

    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4" style="background-color: black;">

        <div class="containerr text-center text-md">

            <div class="row">
                <div class="col-md-3 mb-md-0 mb-3">

                    <h5 class="text-uppercase" style= "color: tomato;">Cinema Vietnam</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="about-log-in.html">About Us</a>
                        </li>
                        <li>
                            <a href="#!">e-CGV</a>
                        </li>
                        <li>
                            <a href="#!">Gift Card</a>
                        </li>
                        <li>
                            <a href="#!">Career</a>
                        </li>
                        <li>
                            <a href="#!">Contact CGV</a>
                        </li>
                    </ul>
                </div>
        <!-- Footer -->
        <footer class="page-footer font-small blue pt-4" style="background-color: black;">

            <div class="containerr text-center text-md">

                <div class="row">
                    <div class="col-md-3 mb-md-0 mb-3">

                        <h5 class="text-uppercase" style="color: tomato;">Cinema Vietnam</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">About Us</a>
                            </li>
                            <li>
                                <a href="#!">e-CGV</a>
                            </li>
                            <li>
                                <a href="#!">Gift Card</a>
                            </li>
                            <li>
                                <a href="#!">Career</a>
                            </li>
                            <li>
                                <a href="#!">Contact CGV</a>
                            </li>
                        </ul>

                    </div>

                    <div class="col-md-3 mb-md-0 mb-3">

                        <h5 class="text-uppercase" style="color: tomato;">Terms and Conditions</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Conditions of Website Use</a>
                            </li>
                            <li>
                                <a href="#!">Terms of Use</a>
                            </li>
                            <li>
                                <a href="#!">Payment Policy</a>
                            </li>
                            <li>
                                <a href="#!">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#!">F.A.Q</a>
                            </li>
                        </ul>

                    </div>

                    <div class="col-md-3 mb-md-0 mb-3">

                        <h5 class="text-uppercase" style="color: tomato;">Follow Us</h5>

                        <ul class="list-unstyled">

                            <link rel="stylesheet"
                                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                            <!-- Add font awesome icons -->

                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#!" class="fa fa-instagram"></a>
                            </li>
                            <li>
                                <a href="#!" class="fa fa-google"></a>
                            </li>
                        </ul>

                    </div>

                    <div class="col-md-3 mb-md-0 mb-3">

                        <h5 class="text-uppercase" style="color: tomato;">Customer Service</h5>

                        <ul class="list-unstyled" style="color: steelblue">
                            <li>
                                <a>Hotline: 1900 6017</a>
                            </li>
                            <li>
                                <a>Working hours: 8:00 - 22:00 (Monday to Sunday, including Public Holidays)</a>
                            </li>
                            <li>
                                <a>Email support: hoidap@cgv.vn</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer text-center py-3" style="color: indianred;">COMPANY CINEMA CGV VIETNAM

            </div></footer>
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
            </div>
        </div>
    </footer>
</body>
</html>